*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*
.idea/
COCO/

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
backup/
pretrain/
results/
imagenet/
*.weights
*.json
temp/
*.pdb
*.obj
*.db
vs2015/vs2015/x64/
vs2015/vs2015/Debug/
vs2015/x64/Debug/
vs2015/Debug/
*.deps
